<h1>Burgers!</h1>

<h2>Eat Da Burger!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li class="list-group-item">{{burger_name}}<button type = "submit">Devour Burger!</button></li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers Devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li class="list-group-item">{{burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="newburger">Burger Name:</label>
    <input type="text" id="newburger" name="burgername">
  </div>

  <button type="submit">Add Burger</button>

</form>
